<script>
$(document).ready(function(){
  $('#signup_form').hide();
  $('#aadhaar_form').hide();
  $('#signin_link').hide();
  $("#new_user").validate({
    rules: {
    "user[otp]": {required: true},
    "user[pincode]": {required: true},
    "user[email]": {required: true, email: true},
    "user[password]": {required: true, minlength: 8}
    }
  });
});
</script>
<div id="loginModal" class="modal fade"  role="dialog" aria-labelledby="Signin" aria-hidden="true" data-backdrop="static" data-keyboard="false" tabindex="-1" style="z-index:99999">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 id="form_type_text" class="text-center" style="color:dodgerblue">Signin</h4>
      </div>
      <div class="modal-body">
        <div id="signin_form" class="row">
          <%= form_for(:user, :url => user_session_path, :html => {:class => 'form-group col-md-offset-2 col-md-8'}) do |f| %>
            <%= f.text_field :aadhar_number, :class => 'form-control', :placeholder => "Enter your Aadhaar number" %>
            <br/>
            <%= f.password_field :password, :class => 'form-control', :placeholder => "Enter your password" %>
            <br/>
            <%= f.submit 'Sign in', :class => 'btn btn-primary col-md-offset-4 col-md-4' %>
          <% end %>
        </div>
        <div id="aadhaar_form" class="row">
          <%= form_for(:user, url: dispatch_otp_path, :remote => true, :html => {:class => 'form-group col-md-offset-2 col-md-8'}) do |f| %>
            <div class="field">
              <%= f.text_field :aadhaar_number, :class => 'form-control', :placeholder => "Enter your Aadhaar number" %><br/>
            </div>
            <div class="actions">
              <%= f.submit "Submit", :class => 'btn btn-primary col-md-offset-4 col-md-4', :id => 'aadhaar_submit' %>
            </div>
          <% end %>
        </div>
        <div id="signup_form" class="row">
          <%= form_for(:user, url: registration_path, :html => {:id => "new_user", :class => 'form-group col-md-offset-2 col-md-8'}) do |f| %>
            <div class="field">
              <%= f.text_field :otp, :class => 'form-control', :placeholder => "Enter your OTP" %><br/>
            </div>
            <%= f.hidden_field :hidden_aadhaar_number, :id => 'hidden_aadhaar_number' %>
            <div class="field">
              <%= f.text_field :pincode, autofocus: true, :class => 'form-control', :placeholder => 'Enter your pincode as recorded in your Aadhaar' %><br/>
            </div>

            <div class="field">
              <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Enter your email' %><br/>
            </div>

            <div class="field">
              <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Enter a password' %><br/>
            </div>

            <div class="field">
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :placeholder => 'Confirm your password' %>
            </div>
            <br/>
            <div class="actions">
              <%= f.submit "Sign up", :class => 'btn btn-primary col-md-offset-4 col-md-4' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <!-- forgot password
        link_to "Forgot your password?", new_password_path(:user), :style => 'position:absolute;left:1vw; bottom:1vh;' -->
        <%= link_to "New user? Signup", "#", :id => 'signup_link', :style => 'position:absolute;right:1vw; bottom:1vh;', :onclick => '$("#signin_form").hide(1000);$("#aadhaar_form").show(1000);$("#form_type_text").text("Signup");$(this).hide();$("#signin_link").show()' %>
        <%= link_to "Have an account? Signin", "#", :id => "signin_link", :style => 'position:absolute;right:1vw; bottom:1vh;', :onclick => '$("#signin_form").show(1000);$("#signup_form").hide(1000);$("#aadhaar_form").hide(1000);$("#form_type_text").text("Signin");$(this).hide();$("#signup_link").show()' %>
      </div>
  </div>
  </div>
</div>
<script>
$('#aadhaar_submit').click(function(){
  $('#hidden_aadhaar_number').val($('#user_aadhaar_number').val());
  $('#aadhaar_form').hide(1000);
  $('#signup_form').show(1000);
});
</script>
