<%= form_tag("/payment", method: "post", class: 'form-group form-horizontal col-md-6') do %>

<div class="row">
  <%= label_tag :aadhar, "Aadhar Number:", class: 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%= text_field_tag :aadhar, "Enter Customers Aadhar", class: 'form-control'%>
  </div>
</div>
<br/>
<div class="row">
  <%= label_tag :amount, "Bill Amount:", class: 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%= text_field_tag :amount, "Enter total bill amount", class: 'form-control'%>
  </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-offset-1 col-sm-6">
      <%= submit_tag("Request OTP", class: "btn btn-primary") %>
    </div>
</div>
<% end %>