<!DOCTYPE html>
<html lang="en">

<head>
  <title>AadharApp</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


</head>

<body>

  <!-- Navigation -->
  <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
      <li class="sidebar-brand">
        <a href="#top"  onclick = $("#menu-close").click(); >Main Menu</a>
      </li>
      <li>
        <a href="/store/<%= current_store.id %>" onclick = $("#menu-close").click(); >Home</a>
      </li>
      <% if current_store.profile_incomplete? %>
      <li>
        <a href="#" onclick = "alert('Complete profile to use payment')"; >Payment</a>
      </li>
      <%else%>
      <li>
        <a href="/payment" onclick = $("#menu-close").click(); >Payment</a>
      </li>
      <% end %>
      <% if true %>
      <li>
        <%= link_to("Logout", destroy_store_session_path, method: "DELETE")%>
      </li>
      <% end %>
    </ul>
  </nav>

  <%= yield %>
  <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });

    $("#login").click(function(e) {
      $("#signin_form").show();
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>

</body>
</html>
